<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfAdminDashPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>Dashboard interface for application backend</summary>
  <description>Dashboard interface for application backend</description>
  <lead>
    <name>Kevin Bond</name>
    <user>kingpin393</user>
    <email>kevin@zenstruck.com</email>
    <active>yes</active>
  </lead>
  <developer>
    <name>Ivan Tanev</name>
    <user>Crafty_Shadow</user>
    <email>vankata.t@gmail.com</email>
    <active>yes</active>
  </developer>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.2.0</min>
        <max>2.0.0</max>
        <exclude>2.0.0</exclude>
      </package>
      <package>
        <name>sfJqueryReloadedPlugin</name>
        <channel>plugins.symfony-project.org</channel>
        <min>1.4.0</min>
        <max>2.0.0</max>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <version>
        <release>1.0</release>
        <api>1.0</api>
      </version>
      <license uri="http://www.symfony-project.org/license">MIT license</license>
      <date>##CURRENT_DATE##</date>
      <license>MIT</license>
      <notes>
        * crafty:     Updated README
        * crafty:     Updated JS
        * crafty:     Allowed for translation of the Filters header 
        * kingpin393: Added option to set homepage uri
        * kingpin393: Added option to not include jQuery
        * kingpin393: Added ability to add user actions
      </notes>
    </release>
  </changelog>
</package>
